//======================================//
//================COLORS================//
//======================================//

$grey                   :      #ccc;
$black                  :      #000;
$white                  :      #fff;
$color-text-primary     :      $grey;//lighten(#414a4f, 50%);
$color-select-primary   :      #9df7fd;//#9fc6d5;


//=========================================//
//=================Fonts==================//
//========================================//

$font-primary     :     'Montserrat', sans-serif; //'Nunito', sans-serif;


//=========================================//
//==============Break Points==============//
//========================================//

$brk-m           :          '(min-width: 768px)';
$brk-l           :          '(min-width: 1024px)';