.intro {
    
    & h1 {
        transition: 1s;
        opacity: 1;
        @extend %intro-slide;
    }

    & p:first-of-type {
        opacity: 1;
        @extend %intro-slide;
        animation-delay: 1.5s;
    }

    & p:nth-of-type(2) {
        opacity: 1;
        @extend %intro-slide;
        animation-delay: 3s;
    }

    
}

 .next {
    @extend %intro-slide;
    
    animation-delay: 4s;
    
    & svg {
        
        animation: next 1.5s ease-out backwards;
        animation-iteration-count: infinite;
    }
}

.prev {
    & svg {
        
        animation: prev 1.5s ease-out backwards;
        animation-iteration-count: infinite;
    }
}

.card-slide {
    & img {
        visibility: visible !important;
        @extend %card-slide;
    }

    & p {
        visibility: visible !important;
        @extend %card-slide;
        animation-delay: .5s;
    }
}

.slide-first {
    & img {
        @extend %card-slide;
    }

    & p {
        @extend %card-slide;
        animation-delay: .5s;
    }
}

.slide-second {
    & img {
        @extend %card-slide;
        animation-delay: 1s;
    }

    & p {
        @extend %card-slide;
        animation-delay: 1.5s;
    }
}


@keyframes fade {
  0% { 
    opacity: 0;
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(2%);
  }
  100% { 
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes next {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes prev {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 0;
        transform: translateX(100%);
    }
}

@keyframes card {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    60% {
        transform: translateX(-2%);
      }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
}