.wrapper {
    width: 90%;
    margin: 0 auto;
}

.intro {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.card {
    opacity: 0;
    padding: 1em;
    margin: 2em auto;
    width: 90%;
    text-align: center;

    & img {
        width: 100%;
        margin-bottom: 1rem;
        border: .3rem solid darken($color-select-primary, 30%);
        border-radius: .3em;
    }

    & span {
        color: darken($color-select-primary, 30%);
    }

    & p {
        line-height: 2em;
    }
}