body {
    background: $black;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.intro {
    height: 90vh;
    display: flex;
    flex-direction: column;

    @include mq ($brk-m) {
        justify-content: center;
    }
}

.card {
    opacity: 0;
    padding: 1em;
    margin: 2em auto;
    width: 90%;
    max-width: 26rem;
    text-align: center;

    & img {
        width: 100%;
        margin-bottom: 1rem;
        border: .2rem solid darken($color-select-primary, 30%);
        border-radius: .1em;
        transition: 1s;

        &:hover {
            transform: scale(1.05);
        }
       
    }

    & span {
        color: darken($color-select-primary, 30%);
        padding-bottom: .3rem;

       &:hover {
           border-bottom: 1px solid darken($color-select-primary, 30%);
       }
       
    }

    & p {
        line-height: 2em;
    }

    @include mq($brk-m) {
        max-width: 20rem;
    }
}

.contact {
    height: 100vh;
    background: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .social {
        display: flex;
        justify-content: center;
    }
}

