.next, .prev {
    width: 2em;
    height: 2em;
    margin: 0 auto 1.5em;


    & svg {
        fill: darken($color-select-primary, 30%);
    }
}

.prev {
    transform: rotate(-180deg);
}

.social {

        & svg {
            width: 2em;
            height: 2em;
            fill: $white;
            margin: 1em;
            transition: .5s;

            &:hover {
                transform: scale(1.1);
            }
        }

}